:root {
  --primary-color: #e74c3c;
  --primary-color-light: #ff6c11;
  --neutral-gray: #6b7280;
  --neutral-dark: #1f2937;
  --neutral-light: #f9fafb;
  --warning: #e71d36;
  --warn: #fff4d0;
  --warn-text: #a4731e;
  --warn-border-accent: #f1c40f;
  --info: #d0e8ff;
  --info-text: #1e6fa4;
  --info-border-accent: #3398db;
  --error: #fde2df;
  --error-text: #c0392b;
  --error-border-accent: #e74c3c;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --shadow2: 0 -2px 8px rgba(0, 0, 0, 0.1);
  --table-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  --shadow-above: 0 -4px 12px rgba(0, 0, 0, 0.2);
  --transition: all 0.2s ease;
  --radius-big: 8px;
  --radius-small: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --msg-icn-up: polygon(
    100% 0,
    100% 85%,
    54% 85%,
    50% 100%,
    46% 85%,
    0 85%,
    0 0
  );
  --msg-icn-dwn: polygon(
    0 15%,
    45% 15%,
    50% 0,
    55% 15%,
    100% 15%,
    100% 100%,
    0 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
}

body,
html {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  height: clamp(100vh, 100vh, 100lvh);
  width: clamp(100vw, 100vw, 100lvw);
  color: var(--neutral-dark);
  background: var(--neutral-light);
  gap: var(--spacing-sm);
}

select {
  appearance: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*------------------------- Header */
.header {
  grid-template: header;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  background: linear-gradient(135deg, var(--neutral-light), #fff);
  box-shadow: var(--shadow);
  position: sticky;
  gap: var(--spacing-sm);
  top: 0;
  inset: auto;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.logo-img {
  height: 50px;
  transition: var(--transition);
}

.logo-name {
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
  white-space: pre-wrap;
}

.logo-pr-div {
  display: flex;
  justify-self: left;
  gap: var(--spacing-sm);
  height: 100%;
  align-items: center;
  justify-content: center;
}

.pr-actions {
  justify-self: right;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}

.pr-icon {
  padding: var(--spacing-sm);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* border: 1px solid var(--primary-color-light); */
  background: var(--neutral-light);
  color: var(--primary-color);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 50%;
  box-shadow: var(--shadow-above);
}

.pr-icon[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color);
  color: var(--neutral-light);
  white-space: nowrap;
  pointer-events: none;
  padding: 10px;
  text-align: center;
  border-radius: var(--radius-small);
  clip-path: var(--msg-icn-dwn);
  margin-top: 6px;
  overflow-wrap: break-word;
}

.pr-icon:hover,
.pr-action-select:focus,
.pr-icon:focus-visible {
  background: var(--primary-color);
  color: var(--neutral-light);
  border-color: var(--primary-color);
  box-shadow: var(--shadow);
}

.pr-icon i {
  font-size: var(--font-size-base);
}

.logo-pr-div .pr-icon {
  background: var(--primary-color);
  color: var(--neutral-light);
  box-shadow: var(--shadow-above);
}

.logo-pr-div .pr-icon:hover {
  filter: brightness(80%);
}

.pr-filter-options {
  display: flex;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  border-radius: var(--radius-big);
  padding: 0.75rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  min-width: 220px;
  flex-direction: column;
  z-index: 3;
}

.pr-filter-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pr-filter-options li {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
  white-space: nowrap;
}

.pr-filter-options li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*------------------------- Navigation */
.view-nav {
  grid-area: nav;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  background: var(--neutral-light);
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: var(--radius-big);
  width: max-content;
  padding: 0 calc(var(--spacing-lg) + 1%);
}

.nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 4%;
  height: fit-content;
}

.nav-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  height: 34px;
  aspect-ratio: 1/1;
  color: var(--neutral-dark);
  font-size: var(--font-size-base);
  font-weight: 500;
  border-radius: var(--radius-small);
  transition: var(--transition);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--shadow-above);
}

.nav-name[title]:hover::after {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -70%);
  background: var(--neutral-dark);
  color: var(--neutral-light);
  white-space: nowrap;
  z-index: 2;
  content: attr(title);
  pointer-events: none;
  clip-path: var(--msg-icn-up);
  padding: 5px 10px 10px 10px;
  text-align: center;
  border-radius: var(--radius-small);
}

/*------------------------- Main */
.main {
  grid-area: main;
  padding: var(--spacing-md);
  background: var(--neutral-light);
  overflow-y: auto;
  inset: auto;
}

.table-container {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  border-radius: var(--radius-big);
  border-radius: 16px;
  box-shadow: var(--table-shadow);
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-dark) var(--neutral-light);
}

.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  background: transparent;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  border: none;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  background-color: transparent;
}

.table {
  width: 100%;
  border-collapse: collapse;
  animation: fadeIn 0.5s ease;
}

.table-headings {
  background: var(--neutral-dark);
  color: var(--neutral-light);
  font-weight: 600;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-headings th {
  padding: var(--spacing-md);
  text-align: left;
}

.table-headings th:first-child {
  position: sticky;
  left: 0;
  background: var(--neutral-dark);
  z-index: 2;
}

.tbody tr {
  border-bottom: 1px solid var(--neutral-dark);
}

.tbody tr:nth-child(even) {
  background: #f1f5f9;
}

.tbody td {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-sm);
  color: var(--neutral-dark);
  cursor: pointer;
}

.tbody td:first-child {
  position: sticky;
  left: 0;
  overflow: visible;
  width: fit-content;
  padding-left: 0;
  background: transparent;
}

.tbody td div {
  max-height: 11ch;
  height: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: var(--neutral-dark) var(--neutral-light);
}

.tbody td div::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tbody td div::-webkit-scrollbar-track {
  background: transparent;
}

.tbody td div::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid transparent;
}

.tbody td div::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.sub-actions ul {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-areas: "first" "first" "first";
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--spacing-sm);
  padding: 5px var(--spacing-sm);
  border-radius: var(--radius-small);
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.sub-action:first-child {
  grid-area: first;
}

.sub-action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow-above);
  padding: var(--spacing-sm);
  background: var(--neutral-dark);
  color: var(--neutral-light);
}

.sub-action i {
  font-size: var(--font-size-base);
  transition: var(--transition);
}

.sub-action:hover i {
  color: var(--neutral-light);
}

.sub-action.back {
  transform: rotate(180deg);
}

td ul {
  white-space: nowrap;
}

.contact-number:hover,
.tracking-number:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

#order-creation-error-type {
  color: var(--warning);
  text-decoration: underline;
}

#total-amount,
#prepaid-amount,
#balance-amount,
#remittance-amount {
  text-align: center;
}

#balance-amount {
  border-top: 1px solid var(--neutral-dark);
  border-bottom: 3px double var(--neutral-dark);
  margin-bottom: 5px;
}

#shipping-address,
#order-creation-error-type {
  white-space: normal;
  overflow-wrap: break-word;
}

/*------------------------- Forms */
.form-base {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: min(90vw, 30rem);
  max-height: 90vh;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
  background: var(--neutral-dark);
  color: var(--neutral-light);
  border: 1px solid var(--neutral-gray);
  border-radius: var(--radius-big);
  border-radius: 16px;
  overflow-y: auto;
  z-index: 5;
}

.form-base header {
  color: var(--neutral-light);
  text-decoration: underline;
  padding: var(--spacing-sm);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.form-base fieldset {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing-sm);
  border-bottom: 1px solid var(--neutral-gray);
  padding: var(--spacing-sm) 0;
}

.form-base label {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.form-base input,
.form-base select,
.form-base textarea {
  width: 100%;
  padding: var(--spacing-sm);
  border-radius: var(--radius-small);
  border-radius: 10px;
  background: var(--neutral-light);
  color: var(--neutral-dark);
}

.form-base .submit,
.form-base .cancel {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-small);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.form-base .submit {
  background: var(--primary-color);
  color: var(--neutral-light);
}

.form-base .cancel {
  background: var(--neutral-gray);
  color: var(--neutral-light);
}

.form-base .submit:hover,
.form-base .cancel:hover {
  opacity: 0.9;
}

.add-new-order-form {
  max-height: 94vh;
}

.add-new-order-form textarea {
  resize: vertical;
  min-height: 100px;
}

#details-form {
  display: grid;
  place-items: center;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
}

.detail-actions {
  display: flex;
  padding: 5px 15px;
  gap: var(--spacing-md);
  align-self: center;
  border: 1px solid var(--neutral-gray);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-small);
  border-radius: 10px;
}

#details-form textfield {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border-bottom: 1px solid var(--neutral-gray);
}

.message-parent {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  color: var(--neutral-dark);
  gap: var(--spacing-sm);
  z-index: 2;
}

.message-child-border {
  background: var(--neutral-gray);
  padding: 0.2px;
  clip-path: polygon(100% 0, 91% 10%, 91% 100%, 0 100%, 0 0);
  display: inline-block;
  border-radius: var(--radius-big);
  border-radius: 24px;
}

.message-child {
  padding: var(--spacing-md) calc(var(--spacing-lg) * 3) var(--spacing-md)
    var(--spacing-lg);
  background: var(--neutral-light);
  clip-path: polygon(100% 0, 91% 10%, 91% 100%, 0 100%, 0 0);
  position: relative;
  border-radius: 24px;
}

.message-parent span {
  position: relative;
  color: var(--neutral-light);
  height: fit-content;
  width: fit-content;
  padding: var(--spacing-sm);
  align-self: self-end;
  right: var(--spacing-lg);
  cursor: pointer;
}

.message-parent .ph {
  background: var(--neutral-dark);
  height: calc(var(--spacing-lg) * 2);
  width: calc(var(--spacing-lg) * 2);
  padding: var(--spacing-sm);
  border-radius: 50%;
  font-size: 1rem;
  margin-right: var(--spacing-md);
  box-shadow: var(--shadow-above);
}

/*------------------------- Footer */
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--spacing-md);
  background: var(--neutral-light);
  inset: auto;
  box-shadow: var(--shadow2);
  background: linear-gradient(135deg, var(--neutral-light), #fff);
  width: clamp(100%, 100%, 100%);
  height: clamp(fit-content, fit-content, fit-content);
}

.epp select {
  text-align: center;
  border: 1px solid var(--neutral-gray);
  border-radius: var(--radius-small);
  height: 30px;
  aspect-ratio: 1/1;
  background: var(--neutral-dark);
  color: var(--neutral-light);
  border-radius: 50%;
  box-shadow: var(--shadow-above);
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1.5ch 1.5ch;
  grid-template-areas:
    "double-back back page front double-front"
    "double-back back total front double-front";
  align-items: center;
  justify-items: center;
  margin: auto;
  padding: auto;
  width: fit-content;
  gap: 0 var(--spacing-md);
}

.pagination i {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  cursor: pointer;
  background: var(--neutral-light);
  color: var(--neutral-dark);
  box-shadow: var(--shadow-above);
  border-radius: 50%;
}

.pagination i:nth-of-type(1) {
  grid-area: double-back;
}

.pagination i:nth-of-type(2) {
  grid-area: back;
}

.pagination input.page-input {
  grid-area: page;
  text-align: center;
  width: 4ch;
}

.pagination input.total-pages {
  grid-area: total;
  text-align: center;
  border-top: 1px solid var(--neutral-dark);
  background: none;
  font-weight: bold;
  pointer-events: none;
  width: 3ch;
}

.pagination i:nth-of-type(3) {
  grid-area: front;
}

.pagination i:nth-of-type(4) {
  grid-area: double-front;
}

.current-view {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--neutral-dark);
  color: var(--neutral-light);
}

.current-view::after {
  content: attr(title);
  position: absolute;
  color: var(--neutral-dark);
  right: 5%;
  text-transform: uppercase;
}

/*------------------------- Extras  */
.loader-div,
.loader-init-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: var(--neutral-dark);
  z-index: 3;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 30px;
  background: var(--neutral-gray);
  color: var(--neutral-light);
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: var(--font-size-lg);
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  border-radius: 50%;
  animation: loading 1500ms ease-in-out infinite;
  z-index: 10;
}

.loader::after {
  animation-delay: 750ms;
}

.msg-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  width: clamp(fit-content, fit-content, 25%);
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 1;
  border-radius: var(--radius-small);
  opacity: 0;
  pointer-events: none;
  box-shadow: var(--shadow-above);
}

.msg-div.show-alert {
  opacity: 1;
  pointer-events: auto;
}

.msg-div.show {
  animation: show_slide 0.4s ease forwards;
}

.msg-div.hide {
  animation: hide_slide 0.4s ease forwards;
}

.alert-span {
  font-size: 30px;
}

.msg-span {
  font-size: 18px;
}

.info {
  border-left: 8px solid var(--info-border-accent);
  background: var(--info);
}

.info .alert-span,
.info .msg-span {
  color: var(--info-text);
}

.warn {
  border-left: 8px solid var(--warn-border-accent);
  background: var(--warn);
}

.warn .alert-span,
.warn .msg-span {
  color: var(--warn-text);
}

.error {
  border-left: 8px solid var(--error-border-accent);
  background: var(--error);
}

.error .alert-span,
.error .msg-span {
  color: var(--error-text);
}

.detail-cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: var(--neutral-dark);
  color: var(--neutral-light);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.detail-cancel-btn:hover {
  background: color-mix(in srgb, currentcolor 80%, black 20%);
}

@keyframes loading {
  0% {
    top: -15px;
    left: -15px;
  }
  25% {
    top: -15px;
    left: 140px;
  }
  50% {
    top: 30px;
    left: 140px;
  }
  75% {
    top: 30px;
    left: -15px;
  }
}

@keyframes show_slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes hide_slide {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/*------------------------- Responsive */
@media (max-width: 768px) {
  .header {
    grid-template-areas:
      "logo pr1"
      "logo pr2";
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    height: fit-content;
    width: fit-content;
    position: static;
    grid-area: logo;
    justify-self: center;
    border-right: 1px solid var(--primary-color);
    padding: 0 var(--spacing-sm) 0 0;
  }

  .logo-img {
    height: 8lvh;
    width: 8lvh;
    aspect-ratio: 1/1;
  }

  .logo-name {
    font-size: 0.8rem;
  }

  .table td {
    font-size: 0.8rem;
  }

  .current-view::after {
    content: "";
  }
}

.hidden {
  display: none !important;
}
