@keyframes loading-wave-animation {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(5);
  }
}

@keyframes loading {
  0% {
    top: -15px;
    left: -15px;
  }
  25% {
    top: -15px;
    left: 140px;
  }
  50% {
    top: 30px;
    left: 140px;
  }
  75% {
    top: 30px;
    left: -15px;
  }
}

@keyframes show_slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes hide_slide {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
