/*.:::::::::::::::::::::::::::::::::::::::::::::::::::::::: loader-animations */
@keyframes jump-scale-1 {
  0%,
  70% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes jump-scale-2 {
  0%,
  40% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes jump-scale-3 {
  0%,
  10% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes shadow-fade-1 {
  0%,
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shadow-fade-2 {
  0%,
  40% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shadow-fade-3 {
  0%,
  10% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/*.:::::::::::::::::::::::::::::::::::::::::::::::::::::::: notify-animations */
@keyframes show_slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes hide_slide {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/*.:::::::::::::::::::::::::::::::::::::::::::::::: shimmer-effect-animations */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
