body,
html {
  display: grid;
  grid-template-areas: 'header' 'nav' 'main' 'footer';
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  height: clamp(100vh, 100vh, 100lvh);
  width: clamp(100vw, 100vw, 100lvw);
  color: var(--neutral-dark);
  background: var(--neutral-light);
  gap: var(--spacing-sm);
}

select {
  appearance: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

ul[type='First Visible Action'],
ul[type='Second Visible Action'],
ul[type='View'] {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
}

li:has(> i) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow-above);
  cursor: pointer;
}

ul[type='First Visible Action'] {
  display: flex;
  height: fit-content;
  width: fit-content;
}

ul[type='First Visible Action'] li {
  background: var(--primary-color);
  color: var(--neutral-light);
}

ul[type='First Visible Action'] li:hover {
  background: var(--neutral-light);
  color: var(--primary-color);
}

ul[type='Second Visible Action'] li {
  color: var(--primary-color);
}

ul[type='Second Visible Action'] {
  display: flex;
  height: fit-content;
  width: fit-content;
}

ul[type='Second Visible Action'] li:hover {
  background: var(--primary-color);
  color: var(--neutral-light);
}

tr {
  padding: var(--spacing-sm) var(--spacing-md);
  border-bottom: 1px solid var(--neutral-dark);
}

tr[rownum] td div::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

tr[rownum] td div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

tr[rownum] td div::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

tr[rownum] td div::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

tr[rownum] td div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent;
  padding: var(--spacing-sm) var(--spacing-md);
}

tr[rownum] td div ul li {
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  max-height: 100%;
  width: fit-content;
}

tr[rownum] td:first-child {
  position: sticky;
  left: 0;
  top: -100rem;
}

tr[rownum] td:first-child div ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-sm);
}

tr[rownum] td:first-child div ul li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--neutral-dark);
  color: var(--neutral-light);
}

tr[rownum] td:first-child div ul li:first-child {
  grid-column: 1;
  grid-row: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
