/*.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: global-props */

:root {
  /*.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: theme */
  --primary: #e74c3c;
  --transition: 0.25s ease-in-out;

  /*.:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: spacing */
  --border: 2px solid rgba(0, 0, 0, 0.08);
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --u: 6px;
  --u2: 12px;
  --border-radius: var(--u2);
  --box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
}

/*.::::::::::::::::::::::::::::::::::::::::::::::::::::::: gloabal properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

/*.:::::::::::::::::::::::::::::::::::::::::: shimmering effect for the class */
.shimmer {
  background: var(--shimmer-background) !important;
  background-size: 200% 100% !important;
  animation: shimmer 1.5s infinite linear !important;
}
