@media (max-width: 768px) {
  .primary-actions {
    display: flex;
    flex-direction: column;
  }

  .logo::after {
    word-wrap: normal;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .current-view::after {
    content: '';
  }
}
