@media (max-width: 768px) {
  .header-action-holder {
    direction: rtl;

    & .primary-action-holder,
    & .secondary-action-holder {
      direction: ltr;
    }
  }

  .header .logo-holder a::after {
    content: '';
  }
}
